<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Login con Firebase
    </ion-title>
  </ion-toolbar>
</ion-header n>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-align-self-center">
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registro</ion-button>
        <span class="divider line one-line">ó</span>
        <span class="already">Ya tienes cuenta?</span>
        <ion-button [routerLink]="['/login']" expand="block" color="danger">Inicia Sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>